*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: rgb(94, 93, 93);
}
.caixa{
    padding: 10px;
    width: 600px;
    position: relative;
}
.Globo_Ocular{
    margin: auto;
    border-radius: 100%;
    background-color:white;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 10%;
    overflow: hidden;
}
.Globo_Ocular:nth-child(2){
    left: 60%;
}
.Iris_Ocular{
    top: 50%;
    left: 50%;
    position: absolute;
    margin: auto;
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 100px;   
    transform-origin: center center ;
}