@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

:root {
    --cor-azul-claro: #24aae3;
    --cor-azul-medio: #2f3646;
    --cor-azul-escuro: #1d222e;
    --cor-lilas: #2e0a2e;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-azul-escuro);
}

.Container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cor-azul-medio);
    width: 320px;
    height: 90%;
    border-radius: 25px;
    box-shadow: 1px 5px 10px 12px rgba(0, 0, 0, 0.192);
}

.Relogio {
    width: 155px;
    height: 150px;
    background-color: rgb(226, 220, 220);
    margin: auto;
    border-radius: 100%;
    margin-top: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;
    font-weight: 800;
    box-shadow: 1px 1px 10px 4px rgba(0, 0, 0, 0.151);
    margin-bottom: 15px;
}

.Res_Relogio {
    color: var(--cor-azul-escuro);
}

.Div_Menu {
    display: block;
    text-align: right;
    margin-top: 10px;
    margin-right: 20px;
}

.Add_Alarme {
    width: 50px;
    height: 40px;
    margin-right: -10px;
}

.Menu {
    width: 50px;
    height: 40px;
}

.Ativar {
    width: 40px;
    height: 40px;
}
.Parar{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.Alarme {
    margin-bottom: 10px;
    color: #24aae3;
    margin: auto;
    background-color: #373e53;
    height: 80px;
    border-radius: 15px;
    width: 280px;
    border: 2px solid var(--cor-azul-escuro);
    box-shadow: 1px 3px 5px 5px rgba(0, 0, 0, 0.027);
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.icon_lixeira {
    display: block;
    width: 35px;
    height: 35px;
    margin-left:225px;
    margin-top: -65px;
    cursor: pointer;
}

.Area_Alarmes {
    overflow: hidden;
}